# DEVELOPMENT DOCKER COMPOSE
services:
  mongo:
    container_name: mongo
    image: mongo:8.2
    ports:
      - "27017:27017"
    volumes:
      - mongo_volume:/data/db

  mysql:
    container_name: database
    image: mysql:8
    environment:
      - MYSQL_ROOT_PASSWORD=Docker!23
      - MYSQL_DATABASE=ssw590
      - MYSQL_USER=express
      - MYSQL_PASSWORD=Express!23
    ports:
      - "3306:3306"
    volumes:
      - ./mysql/scripts:/docker-entrypoint-initdb.d
      - mysql_volume:/var/lib/mysql

  backend:
    container_name: backend
    build:
      context: ./backend
      dockerfile: Dockerfile
    environment:
      - MONGO_URI=mongodb://mongo:27017/mydb
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    depends_on:
      - mongo

  frontend:
    container_name: frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend

  reporting:
    container_name: reporting
    image: grafana/grafana
    restart: unless-stopped
    ports:
      - '4000:3000'
    volumes:
      - grafana_volume:/var/lib/grafana

volumes:
  mongo_volume:
  mysql_volume:
  grafana_volume: